<header>
  <h4 class="logo">Exceptional Realty Group</h4>

  <nav>
    <ul>
      <li><a href="#hero">HOME</a></li>
      <li><a href="#about">ABOUT</a></li>
      <li><a href="#listings">LISTINGS</a></li>
      <li><a href="#">MODELS</a></li>
      <li><a href="#">REPORTS</a></li>
      <li> <a href="#">HUD</a></li>
    </ul>
  </nav>
</header>