<nav id="page">
  <ol>
    <li><a href="roles/">Roles Home</a></li>
    <li><a href="roles/show">View</a></li>
    <li><a href="roles/new">New</a></li>
    <li><a href="roles/edit">Edit</a></li>

  </ol>
</nav>