
<h1>Add New Article</h1>
<section id="page">
  <form class="form"  action="/articles" method="post">

      <label for="title">Title</label>
      <input id="title" type="text" name="title"  class="field field-name" />

      <label for="content">Content</label>
      <textarea id="content" type="text" name="content" >
      </textarea>

  <input type="submit" class="button" />
</form>
</section>