<h1>Agents:</h1>
<footer>
  <article class="footer_column" id="listing">
    <h3>NEW LISTINGS: SW 1ST STREET</h3>
    <img src="images/placeholder.jpg" alt="" width="400" height="200" class="cards"/>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla </p>
  </article>
  <article class="footer_column">
    <h3>NEW LISTING: 123 KAY STREET</h3>
    <img src="images/placeholder.jpg" alt="" width="400" height="200" class="cards"/>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla </p>
  </article>
</footer>
