<h1>Edit Role</h1>
<section id="page">
  <form class="form" action="/roles/<%= @role.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="role_name" class="label-name">Role Name</label>
    <input type="text" id="role_name" name="role[role_name]" value="<%= @role.role_name %>" />

    <input type="submit" value="Update Role" class="button" />
  </form>

  <nav>
    <ol>
      <li><a href="/roles/new">Roles Home</a></li>
      <li><a href="/roles/new">New</a></li>

    </ol>
  </nav>
</section>
