<h1>Add New Role</h1>
<section id="page">
<form class="form" action="/roles" method="post">
  <label for="role_name" class="label-name">Role Name</label>
  <input type="text" id="role_name" name="role_name" maxlength="40" class="field field-name" />

  <input type="submit" value="Create Role" class="button" />
</form>

<nav>
  <ol>
    <li><a href="/roles/new">Roles Home</a></li>
    <li><a href="/roles/show">View</a></li>
    <li><a href="/roles/new">New</a></li>
    <li><a href="/roles/edit">Edit</a></li>

  </ol>
</nav>
</section>
