<section>

  <br/>
  <br/>

  <div id="home-section">This site was built using Ruby Sinatra, has a MySQL backend and is deployed using Passenger
    Phusion. My development environments use both Mac OS and Windows PC with Rubymine as my IDE.
  </div>
  <br/><br/>
  <div id="home-section">The project includes my goals for learning how to build my own Ruby server environment and
    serve it 'Live', and continues with my coursework in Ruby Sinatra and Rails.
  </div>
  <h2>About Flatiron School for Software Engineering</h2>
  <div id="home-section">
    <div>To learn more about the program, please visit the the
      <a href="https://flatironschool.com/career-courses/coding-bootcamp" target="_blank">Flatiron School</a> site.
    </div>
  </div>
  <h2>Project Milestones</h2>

  <table class="table-striped">
    <thead>
    <tr>
      <th></th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Task</th>
      <th>Link</th>

    </tr>
    </thead>

    <tbody>
    <tr>
      <td>x</td>
      <td>20210120</td>
      <td>20210205</td>
      <td>Successfully installed ruby 2.7.2 with MySQL adapter and Passenger Fusion</td>
      <td><a href="https://github.com/mrsdo/user_authentication_sinatra" target="_blank">Open Repo</a></td>
    </tr>
    <tr>
      <td>x</td>
      <td>20210205</td>
      <td>20210213</td>
      <td>Successfully migrated site to live environment testing</td>
      <td><a href="http://fis.shegottablog.com:3000/" target="_blank">View Site</a></td>
    </tr>
    <tr>
      <td>-</td>
      <td>20210205</td>
      <td>20210213</td>
      <td>In Progress: Completing User login , CRUD + Sessions</td>
      <td><a href="https://github.com/mrsdo/user_authentication_sinatra/tree/adding_user_profile_page" target="_blank">Open Repo</a></td>
    </tr>
    </tbody>
  </table>
</section>
